<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">-->
<head>
    <title>Pizza Force order page</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>

<div class="jumbotron text-center">
    <div class="container">
        <h1>Pizza Force</h1>
        <p class="white">The toughest pizza on Salesforce!</p>
    </div>
</div>
<div class="container">
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
    <!--  If necessary, please modify the charset parameter to specify the        -->
    <!--  character set of your HTML page.                                        -->
    <!--  ----------------------------------------------------------------------  -->

    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->

    <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

        <input type=hidden name="orgid" value="00D6F000002T87k">
        <input type=hidden name="retURL" value="http://">

        <!--  ----------------------------------------------------------------------  -->
        <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
        <!--  these lines if you wish to test in debug mode.                          -->
        <!--  <input type="hidden" name="debug" value=1>                              -->
        <!--  <input type="hidden" name="debugEmail"                                  -->
        <!--  value="pizzaforcefinal@gmail.com">                                      -->
        <!--  ----------------------------------------------------------------------  -->

        <label for="name">Name: </label><input  id="name" maxlength="80" name="name" size="20" type="text" placeholder="John Snow" /><br>

        <label for="email">Email: </label><input  id="email" maxlength="80" name="email" size="20" type="text" placeholder="john_snow@gmail.com" /><br>

        <label for="phone">Phone: </label><input  id="phone" maxlength="40" name="phone" size="20" type="text" placeholder="+375291234567" /><br>

        <input  id="subject" maxlength="80" name="subject" size="20" type="hidden" value="Order from pizza-force.herokuapp.com"/><br>

        <label for="description">Description: </label><textarea name="description"></textarea><br>

        <input type="submit" name="submit">

    </form>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
